@model CwoPqsApp.Models.CwoPqs

<div>
    @foreach (var chapter in Model.Sections)
    {
        <h3 class="w3-text-blue">@chapter.Number @chapter.Name</h3>
        int i = 0;
        <div class="w3-container w3-clear w3-cell">
            @foreach (var signature in chapter.Signatures)
            {
                @if (i % 2 == 0)
                {
                    <p>
                        @Html.CheckBoxFor(model => signature.Value)
                        @Html.Label("", signature.Key)
                    </p>
                }
                i++;
            }
        </div>
        i = 0;
        <div class="w3-container w3-clear w3-cell">
            @foreach (var signature in chapter.Signatures)
            {
                @if (i % 2 == 1)
                {
                    <p>
                        @Html.CheckBoxFor(model => signature.Value)
                        @Html.Label("", signature.Key)
                    </p>
                }
                i++;
            }
        </div>
    }
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
